src/main/mule/implementation/airindia.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="0478076f-c0a2-40e3-915e-db3635b73005" >
		<wsc:connection wsdlLocation="http://airindia-airlines.us-e2.cloudhub.io/airindia?wsdl" service="TicketServiceService" port="TicketServicePort" address="http://airindia-airlines.us-e2.cloudhub.io/airindia" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="airindiaFlow" doc:id="e8f06a6d-8ca4-4fca-894c-4838d635dcda" >
		<ee:transform doc:name="Transform Message" doc:id="8c060a4a-a14a-4e7f-bc7b-6297280fe3dc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml

---
{
	getFlights: {
	   from         : attributes.queryParams.from as String ,
	   to           : attributes.queryParams.to as String,
	   depatureDate : attributes.queryParams.doj as String
		
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="getFlights" doc:id="49872d2e-b0a2-4661-9a03-5b84fee0507a" config-ref="Web_Service_Consumer_Config">
		</wsc:consume>
		<ee:transform doc:name="Transform Message" doc:id="fcb5b4cf-c45c-4c27-9cd1-77e3fb57b1bb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5242be08-d85f-4969-b3c7-a43b1a348cba" message="#[payload]"/>
	</flow>
</mule>
