src/main/mule/implementation/indigo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="b0b7c685-da01-4543-b006-2a2bb1786684" >
		<http:request-connection host="indigo-services.us-e2.cloudhub.io" port="80" />
	</http:request-config>
	<flow name="indigoFlow" doc:id="81a8ed5e-ecf4-4ac7-8c4f-399206e30927" >
		<logger level="INFO" doc:name="Logger" doc:id="8d479a3a-b82a-41bf-a1b1-33250753d087" message="enter indigo flow"/>
		<http:request method="GET" doc:name="Request" doc:id="644f12ff-1d4a-46d8-beca-0abe801f4610" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.queryParams.from,
	to : attributes.queryParams.to,
	doj : attributes.queryParams.doj
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="9f9436fc-7120-454b-a037-0a804fccc1c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fe5fe1b6-2110-4141-9f27-3090824d8319" message="#[payload]"/>
	</flow>
</mule>
